.grid-container {
  margin: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 400px;
  height: 500px;
  border: 1px solid darkred;
}


.grid-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 1px solid darkred;
}

.result {
  grid-column: 1 / 5;
  background-color: #403436;
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear {
  grid-column: 1 / 4;
  color: gray
}

.operator {
  background-color: red;
  color: white
}